data/
*.pt
*.onnx
*.h5
*.pkl

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

.ipynb_checkpoints/
*/.ipynb_checkpoints/

.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini